#menu{
	background-color: #d12d28;
	
}

input[type=text],input[type=password]{	
	width:60%;
	margin: 8px 0;
}

form{
	padding-top : 2em;
	text-align : right;
	padding-left: 25%;
 	padding-right: 25%;

	
}

legend{
	text-align : center;
}

input[type=submit]{	
	align: left;
}

label{
	text-align: left;
}

.message{
	text-align: center;
}

#data{
	display : flex;
	
	
}

p{
	text-align: center;
}

#oldData{	
	text-align : left;
	display : flex;	
	border-style : solid;
	padding-left : 2em;
 	padding-right : 2em;
}