<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EnsemblePourAfrique</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>modele.servlets.user.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>modele.servlets.user.SignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>modele.servlets.user.Deconnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>modele.servlets.HomePage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PutValidity</servlet-name>
    <servlet-class>modele.servlets.user.PutValidity</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Radiation</servlet-name>
    <servlet-class>modele.servlets.user.Radiation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserContact</servlet-name>
    <servlet-class>modele.servlets.user.UserContact</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreerReunion</servlet-name>
    <servlet-class>modele.servlets.reunion.CreerReunion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListReunion</servlet-name>
    <servlet-class>modele.servlets.reunion.ListReunion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListReunionUtilisateur</servlet-name>
    <servlet-class>modele.servlets.reunion.ListReunionUtilisateur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiderReunion</servlet-name>
    <servlet-class>modele.servlets.reunion.ValidateReunion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListUtilisateur</servlet-name>
    <servlet-class>modele.servlets.listUtilisateur.ListUtilisateur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListUtilisateurAdministrateur</servlet-name>
    <servlet-class>modele.servlets.listUtilisateur.ListUtilisateurAdministrateur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListUtilisateurSecretaire</servlet-name>
    <servlet-class>modele.servlets.listUtilisateur.ListUtilisateurSecretaire</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListUtilisateurTresorier</servlet-name>
    <servlet-class>modele.servlets.listUtilisateur.ListUtilisateurTresorier</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UpdateUtilisateur</servlet-name>
    <servlet-class>modele.servlets.user.UpdateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUtilisateurSecretaire</servlet-name>
    <servlet-class>modele.servlets.user.UpdateUserSecretaire</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUtilisateurAdministrateur</servlet-name>
    <servlet-class>modele.servlets.user.UpdateUserAdministrateur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateDocument</servlet-name>
    <servlet-class>modele.servlets.document.CreateDocument</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>C:\Users\Ahmed\git\ProjetSIA\document</param-value>
    </init-param>
    <multipart-config>
      <location>C:\Users\Ahmed\git\ProjetSIA\document</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>ListDocument</servlet-name>
    <servlet-class>modele.servlets.document.ListDocument</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>C:\Users\Ahmed\git\ProjetSIA\document</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DownloadDocument</servlet-name>
    <servlet-class>modele.servlets.document.DownloadDocument</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>C:\Users\Ahmed\git\ProjetSIA\document</param-value>
    </init-param>
  </servlet>
  
   <servlet>
    <servlet-name>DownloadFormulaire</servlet-name>
    <servlet-class>modele.servlets.activite.DownloadFormulaire</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/Users/Ahmed/eclipse-workspace/EnsemblePourAfrique/WebContent/Formulaire/</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>ListArchive</servlet-name>
    <servlet-class>modele.servlets.document.ListArchive</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EspaceEtudiant</servlet-name>
  	<servlet-class>modele.servlets.EspaceEtudiant</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PutValidity</servlet-name>
    <url-pattern>/validate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Radiation</servlet-name>
    <url-pattern>/radiate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserContact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreerReunion</servlet-name>
    <url-pattern>/createReunion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListReunion</servlet-name>
    <url-pattern>/listReunion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListReunionUtilisateur</servlet-name>
    <url-pattern>/listReunionUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiderReunion</servlet-name>
    <url-pattern>/validateReunion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListUtilisateur</servlet-name>
    <url-pattern>/listUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListUtilisateurSecretaire</servlet-name>
    <url-pattern>/listUtilisateurSecretaire</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListUtilisateurAdministrateur</servlet-name>
    <url-pattern>/listUtilisateurAdministrateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListUtilisateurTresorier</servlet-name>
    <url-pattern>/listUtilisateurTresorier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUtilisateurSecretaire</servlet-name>
    <url-pattern>/updateUserSecretaire</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUtilisateurAdministrateur</servlet-name>
    <url-pattern>/updateUserAdministrateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateDocument</servlet-name>
    <url-pattern>/createDocument</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListDocument</servlet-name>
    <url-pattern>/listDocument</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadDocument</servlet-name>
    <url-pattern>/downloadDocument/*</url-pattern>
  </servlet-mapping>
  
 <servlet-mapping>
    <servlet-name>DownloadFormulaire</servlet-name>
    <url-pattern>/downloadFormulaire/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ListArchive</servlet-name>
    <url-pattern>/listArchive</url-pattern>
  </servlet-mapping>
</web-app>